# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
*.egg-info/
dist/
build/

# Django
*.sqlite3
*.log
staticfiles/
mediafiles/

# Node
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.*.local

# OS
.DS_Store
Thumbs.db
